<ul class="collection">

    {{#each comments}}
    <div class="likes-section">
        <span class="likes">0 likes</span>
        <button class="like-button ">❤️</button>
    </div>
    <form action="#">
  
    <li class="collection-item">{{comment}}</li>
    {{/each}}
</ul>