<ul class="collection">

    {{#each comments}}
    <div class="likes-section">
        <span class="likes">0 likes</span>
        <button data-id = {{id}} class="like-button">❤️</button>
    </div>
    <li class="collection-item">{{comment}}</li>
    {{/each}}
</ul>