<h2>Login</h2>
<form action="" id="login">
    <input type="text" placeholder="username" id="loginUsername">
    <input type="password" placeholder="password" id="loginPassword" type="password">
    <button>Login!</button>
</form>
<h2>Signup</h2>
<form action="" id="signup">
    <input type="text" placeholder="username" id="signupUsername">
    <input type="password" placeholder="password" id="signupPassword" type="password">
    <button>Don't have an account yet? Sign up!</button>
</form>
<script src="/public/js/login.js"></script>
{{!-- <script src="/js/signup.js"></script>
<script src="/js/profile.js"></script> --}}