<h1>Plant Gallery</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            {{#each blogList}}
            <h3>{{title}}</h3>
            <img src="http://placecorgi.com/260/180" alt="placeholder corgi">
            <p>{{body}}</p>
            <hr>
            {{/each}}
        </div>
    </div>
</div>
{{!-- <script src="/js/gallery.js"></script> --}}
