{{>header}}
<h2>Login</h2>

<form  id="login">
    <input type="text" placeholder="username" id="loginUsername">
    <input type="password" placeholder="password" id="loginPassword" type="password">
    <button type="submit">Login!</button>
</form>
<h2>Signup</h2>
<form  id="signup">
    <input type="text" placeholder="username" id="signupUsername">
    <input type="password" placeholder="password" id="signupPassword" type="password">
    <button type="submit">Sign up!</button>
</form>

<script src="/js/login.js"></script>
{{!-- <script src="/js/profile.js"></script> --}}
{{!-- <script src="/js/signup.js"></script> --}}

<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
