{{!-- {{>header}} --}}
<h2 class="center-align" >Login</h2>

<form class="center-align center-align" id="login">
    <input class="blue-text center-align  " type="text" placeholder="username" id="loginUsername">
    <input class="blue-text center-align" type="password" placeholder="password" id="loginPassword" type="password">
    <button class=" waves-effect teal darken-3 btn-small" type="submit">Login!</button>
</form>
<h2 class="center-align">Signup</h2>
<form class ="center-align " id="signup">
    <input class="blue-text center-align" " type="text" placeholder="username" id="signupUsername">
    <input class="blue-text center-align" type="password" placeholder="password" id="signupPassword" type="password">
    <button class=" waves-effect teal darken-3 btn-small" type="submit">Sign up!</button>
</form>
 <div class="slider right-align">
    <ul class="slides">
      <li>
        <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
<script src="/js/login.js"></script>
{{!-- <script src="/js/profile.js"></script> --}}
{{!-- <script src="/js/signup.js"></script> --}}

<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
