body {
    /* background-color: #d7ccc8 ; */
  background-image: url("https://res.cloudinary.com/sagacity/image/upload/c_crop,h_4204,w_5946,x_0,y_0/c_limit,dpr_auto,f_auto,fl_lossy,q_80,w_1080/shutterstock_1120425188_xkrkev.jpg");
  font-family: 'Roboto', sans-serif;
  color:rgb(44, 33, 33)
}